<div class="card-message-todo">
  <div class="message-date">Note ajoutée le <%=l(message.submit_message_date, format: '%d %B %Y', :locale => 'fr') %></div>
  <div class="message-content"> <%=message.note %> </div>
</div>
