// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #8FBAF3 ; //#469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #08A045;
$gray: #000000;
$real-gray: #9fa4a9;
$light-gray: #F4F4F4;
$perso: #FDFDFD;
$urgente: #851C1C;
$haute: #C64323;
$normale: #EE943B;
$faible: #E0CD41;
$middle-red-purple: #0B0033;
