/*
* Base structure
*/
/*
* Typography
*/
// h1 {
//   margin-bottom: 20px;
//   padding-bottom: 9px;
//   border-bottom: 1px solid #eee;
// }
/*
* Sidebar
*/
.sidebar {
position: fixed;
top: 100px;
bottom: 0;
left: 0;
z-index: 1000;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
/* offset-x | offset-y | blur-radius | spread-radius | color */
// box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
box-shadow: 1px 0 0 0 rgba(0,0,0,0.07),2px 0 0 0 rgba(0,0,0,0.03);
}
/* Sidebar navigation */
.sidebar {
padding-left: 0;
padding-right: 0;
}
.sidebar .nav {
margin-bottom: 20px;
}
.sidebar .nav-item {
width: 100%;
}
.sidebar .nav-item + .nav-item {
margin-left: 0;
}
.sidebar .nav-link {
border-radius: 0;
}
.nav > li > a {
padding: 5px 5px;
}
.dash-title{
margin: 0px;
}



/*
* Dashboard
*/
/* Placeholders */
// .placeholders {
//   padding-bottom: 3rem;
// }
// .placeholder img {
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
// }
.grid-dash-city{
display: grid;
grid-template-columns: 80px 1fr;
grid-template-rows: 1fr;
min-height: calc(100vh - 70px);
}

.sidebar-dash-city{
grid-row: 1 / span 1;
grid-column: 1 / span 1;
}

.grid-dash-inside {
display: grid;
grid-template-columns: 70% 1fr;
grid-template-rows: 1fr;
}

.grid-dash-map {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 15% 1fr;
}

.stats-flex-dash-city{
grid-row: 1 / span 1;
grid-column: 1 / span 1;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding-left: 40px;
padding-right: 60px;
margin-top: 20px;
}



.map_box {
width: 450px !important;
top: 15px !important; // move the infowindow 15px down
left: 0 !important;
background-color: #fff;
border-radius: 2px 2px 0 0;
}

.map-dash-city{
grid-row: 2 / span 1;
grid-column: 1 / span 1;
padding: 20px;
}

.stats-col-dash-city{
grid-row: 1 / span 1;
grid-column: 2 / span 1;
padding-top: 15px;
}

.padding-chart{
padding: 20px;
}

