/*
 * Base structure
 */

/*
 * Typography
 */

// h1 {
//   margin-bottom: 20px;
//   padding-bottom: 9px;
//   border-bottom: 1px solid #eee;
// }

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 0 0 rgba(0,0,0,0.07),2px 0 0 0 rgba(0,0,0,0.03);

}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
 .nav > li > a {
  padding: 5px 5px;
 }

/*
 * Dashboard
 */

 /* Placeholders */
// .placeholders {
//   padding-bottom: 3rem;
// }

// .placeholder img {
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
// }
.grid-dash-city{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 50px 110px 1fr;
  // border: 1px solid black;
  min-height: calc(100vh - 70px)
}

.sidebar-dash-city{
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  // border: 1px solid green;
}

.navbar-dash-city{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  // border: 1px solid blue;
  & h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    }
  }

.stats-line-dash-city{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  // border: 1px solid orange;
  // box-shadow: 1px 0 0 0 rgba(0,0,0,0.07),2px 0 0 0 rgba(0,0,0,0.03);
}

.stats-flex-dash-city{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stats-flex-item-dash-city{
  flex: 0 0 auto;
}

.rest-grid-dash-city{
 grid-row: 3 / span 1;
 grid-column: 2 / span 1;
  // border: 1px solid orange;

  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 1fr 1fr;


 .map-dash-city{
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  // border: 1px dashed red;
  }

 .stats-col-dash-city{
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  // border: 1px dashed yellow;
  }

}

