.main-grid-todo {
  display: grid;
  height: calc(100vh - 70px);
  // width: 100%;
  grid-template-columns: 80px 1fr 65% ;
  grid-template-rows: 50px 1fr ;
}

.filters-container-todo, .card-index-todo, .cards-container-todo, .card-show-grid-todo, .grid-dates-status, .messages{
  border: solid 0.3px $light-gray;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 7px;
  * {
    font-size: 11px;
  }

}

.vertical-navbar-todo {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  border-right: solid 0.3px $light-gray;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}



// .filters-container-todo {
//   grid-row: 2 / span 1;
//   grid-column: 2 / span 2;
// }

.cards-container-todo {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  // height: calc(calc(100vh - 80px - 100px));
  overflow: scroll;
  display: flex;
  flex-direction: column;


  .ranking-choice {
    text-align: center;
    position: sticky !important;
    top: 0 !important;
    background-color: white;
    margin: 0 0 3px 0;
    border-bottom: solid 0.3px $light-gray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr ;

    .by-priority{
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }
    .by-date{
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }
  }

  // a {
  //   opacity: 1;
  // }
  // a:hover {
  //   color: $green;
  //   opacity: 0.6;
  // }

  .card-index-todo{
    min-height: 80px;
    max-height: 80px;
    display: grid;
    grid-template-columns: 6px 70% 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;

    * {
        margin: 3px 10px;
        color: black;
    }

    &:hover div {
      color: white !important;
      font-weight: bold !important;
      border: none !important;
    }

    .priority-color-card{
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
      width: 6px;
      height: 78px;
      border: 0;
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
      margin: 0;
      margin-bottom: 2px;
    }
    .degradation {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1;
      font-weight: bold;
      margin-top: 17px;
    }
    .furniture {
      grid-row: 3 / span 2;
      grid-column: 2 / span 1;
      font-weight: bold;
    }
    .status {
      grid-row: 3 / span 2;
      grid-column: 3 / span 1;
      text-align: right;
      font-size: 9px;
    }
    .creation-date {
      grid-row: 1 / span 2;
      grid-column: 3 / span 1;
      margin-top: 17px;
      text-align: right;
      font-size: 9px;

    }
  }
}

.card-show-grid-todo {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 50px 60px 60px 100px 70px 1fr ;

  .priority {
    grid-row: 1 / span 1;
    grid-column: 1 / span 10;
    text-align: center;

    margin: 7px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }
  .degradation {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
    margin: 7px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    border: solid 0.3px $light-gray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
  .furniture {
    grid-row: 2 / span 1;
    grid-column: 4 / span 3;
    margin: 7px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    border-bottom: solid 0.3px $light-gray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
  .location {
    grid-row: 3 / span 1;
    grid-column: 1 / span 6;
    margin: 7px;
    color: $real-gray;

    .text {
      border: solid 0.3px $light-gray;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      font-weight: lighter;
      height: 53%;
      padding: 5px;
      padding-left: 10px;
      margin: 3px 0 0 0;
      color: black;
    }
  }
  .description {
    grid-row: 4 / span 1;
    grid-column: 1 / span 6;
    margin: 7px;
    color: $real-gray;

    .text {
      border-botto: solid 0.3px $light-gray;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      font-weight: lighter;
      height: 70px;
      padding: 10px;
      margin: 3px 0 0 0;
      color: black;
    }

  }
  .picture-flexbox {
    grid-row: 2 / span 3;
    grid-column: 7 / span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $real-gray;

    img {
      max-height: 200px;
      max-width: 97% ;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  .grid-dates-status {
    grid-row: 5 / span 1;
    grid-column: 1 / span 10;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 38% 1fr ;
    height: 100% ;
    text-align: center;
    *{
      margin-top: 6px;
    }

    // width: 100%;

    .creation-date {
      grid-column: 1 / span 1;
    }
    .status {
      grid-column: 2 / span 1;
      margin-top: -2px;
    }
    .resolution {
      grid-column: 3 / span 1;
    }
    .title {
      font-size: 10px;
      grid-row: 1 / span 1;
      border: none;
      box-shadow: none;
      color: $real-gray;
    }
  }
  .messages {
    margin-top: 14px;
    grid-row: 6 / span 1;
    grid-column: 1 / span 5;

  }
  #map {
    margin-top: 14px;
    grid-row: 6 / span 1;
    grid-column: 6 / span 5;
    border: 0px;
    height: 45vh;
    width: 98%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }
}

.Urgente-color{
  background-color: $urgente;
  border-radius: 4px;
}
.Haute-color{
  background-color: $haute;
  border-radius: 4px;
}
.Normale-color{
  background-color: $normale;
  border-radius: 4px;
}
.Faible-color{
  background-color: $faible;
  border-radius: 4px;
}
a:hover {
  text-decoration: none;
}




