.main-grid-todo {
  display: grid;
  height: calc(100vh - 70px);
  // width: 100%;
  grid-template-columns: 100px 1fr 68% ;
  grid-template-rows: 50px 1fr ;
  background-color: $background-color-show;
  // AUTRE CHOIX DE BACKGROUND:
  // background-color: rgba(8, 160, 69, 0.03);

}

.border-and-margin {
  border: solid 1px $light-gray;
  border-radius: 2px;
  margin: 10px;
  * {
    font-size: 1.7vh;
  }

}

.vertical-navbar-todo {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  // border-right: solid 0.02px $light-gray;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.cards-container-todo {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  // height: calc(calc(100vh - 80px - 100px));
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 21px;



  .ranking-choice {
    text-align: center;
    position: sticky !important;
    top: 0 !important;
    background-color: white;
    margin: 0 0 3px 0;
    border-bottom: solid 0.3px $light-gray;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    min-height: 3.4vh;

    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr ;

    #by-priority{
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      opacity: 1;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding: 0.8vh;
      font-size: 1.3vh;

      &.unselected{
        cursor: pointer;
        padding: 0.8vh;
        &:hover {
          // opacity: 0.8;
          color: $green
        }
      }
      &.selected{
        // border-right: solid 0.5px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        background-color: $green;
        color: white;
        // opacity: 0.8;
      }
    }

    #by-date{
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
      opacity: 1;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 0.8vh;
      font-size: 1.3vh;


      &.unselected{
        cursor: pointer;
        padding: 0.8vh;
        &:hover {
          // opacity: 0.8;
          color: $green
        }
      }
      &.selected{
        box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.3);
        background-color: $green;
        color: white;
        // opacity: 0.8;

      }
    }
  }

  .card-index-todo{
    min-height: 12vh;
    max-height: 12vh;
    display: grid;
    grid-template-columns: 10px 64% 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;

    * {
        margin: 3px 10px;
        color: black;
    }

    &:hover div {
      color: white !important;
      border: none !important;
    }

    .priority-color-card{
      grid-row: 1 / span 2;
      grid-column: 1 / span 1;
      width: 10px;
      height: 11.73vh;
      border: 0;
      border-top-right-radius: 1px;
      border-bottom-right-radius: 1px;
      margin: 0;
      margin-bottom: 2px;
    }
    .degradation {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1;
      font-weight: bold;
      margin-top: 1.9vh;
    }
    .furniture {
      grid-row: 3 / span 2;
      grid-column: 2 / span 1;
      // font-weight: bold;
    }
    .status {
      grid-row: 3 / span 2;
      grid-column: 3 / span 1;
      text-align: right;
      font-size: 1.5vh;
    }
    .creation-date {
      grid-row: 1 / span 2;
      grid-column: 3 / span 1;
      margin-top: 1.9vh;
      text-align: right;
      font-size: 1.5vh;

    }
  }
}



.card-show-grid-todo {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
  padding-right: 15px;
  background-color: white;
  margin-right: 22px;


  display: grid;
  grid-template-columns: 1vh 15vh 32vh 12vh 16vh 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3vh 5.5vh 5.5vh 5.5vh 5.5vh 9vh 16vh 1fr 3vh;

  .vertical-color-line {
    grid-row: 1 / span 8;
    grid-column: 1 / span 1;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 3px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 3px !important;
  }

  .text-form {
    font-size: 2vh;
    color: $real-gray;
    margin-left: 13px;
  }

  .content-form {
    font-size: 2vh;
    font-weight: lighter;
  }

  .content-form-important {
    font-size: 2vh;
    font-weight: bold;
  }

  .priority-text {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .priority {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
  }

  .creation-date-text {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
  }

  .creation-date {
    grid-row: 2 / span 1;
    grid-column: 5 / span 2;
  }

  .resolution-date-text {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
  }

  .resolution-date {
    grid-row: 3 / span 1;
    grid-column: 5 / span 2;
  }

  .degradation-text {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

  .degradation {
    grid-row: 3 / span 1;
    grid-column: 3 / span 3;
  }

  .furniture-text {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
  }

  .furniture {
    grid-row: 4 / span 1;
    grid-column: 3 / span 3;
  }

  .location-text {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
  }

  .location {
    grid-row: 5 / span 1;
    grid-column: 3 / span 3;
  }

  .description-text {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
  }

  .description {
    grid-row: 6 / span 1;
    grid-column: 3 / span 3;
    width: 47vh;

  }

  .btn-edit-show {

    grid-row: 6 / span 1;
    grid-column: 5 / span 1;
    margin: 5vh 0px 5px 9vh;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-weight: lighter;
    width: 3.4vh;
    background-color: white;
    border: 0;
    height: 3.4vh;
    opacity: 0.8;

    * {
      font-size: 2.6vh !important;
    }
    &:hover {
      color: $green;
      font-weight: normal;
      background-color: white;
    }
  }

  .cta-box {
    grid-row: 7 / span 1;
    grid-column: 2 / span 10;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 39% 1fr ;
    height: 100% ;
    margin-left: 20px;
    margin-right: 20px;

    .status-text {
      grid-row: 1 / span 1;
      grid-column: 1 / span 10;
      margin: 8px 0 10px -7px;
    }
    .status-btn {

      select {
        width: 15vh;

      }
      .btn-style {
        padding: 0;
        width: 100%;
        font-size: 1.5vh;
        height: 7vh;
        border-radius: 0px;
        cursor: pointer;
        border-color: transparent;
        border-top: solid 0.3px $real-gray;
        border-bottom: solid 0.3px $real-gray;
        border-left: solid 0.15px $real-gray;
      }
      // .attente-box: {
      //   border-left: solid 0.15px $real-gray !important;
      // }
      .selected-btn {
        // opacity: 0.8;
        // border: solid 0.5px $real-gray;
        background-color: $real-gray;
        color: white;
        font-size: 1.6vh;


        &.annule-box {
          background-color: $red !important;
          color: white !important;
          border: solid 0.3px $red;

        }

        &.resolu-box {
          background-color: $green !important;
          color: white !important;
          border: solid 0.3px $green;
        }



      }

      .unselected-btn {
        opacity: 0.9;
        background-color: white;

        // border-bottom: solid 0.3px $real-gray;
        // border-right: solid 0.1px $real-gray;



        &:hover {
          // opacity: 1;
           background-color: #ddd;
          // border: solid 0.5px black;
        }

        // &.attente-box {
        //   border-left: solid 0.3px $real-gray;
        // }

        &.annule-box {
          color: $red;
          border-right: solid 0.15px $real-gray;
          &:hover {
            background-color: $red !important;
            color: white !important;
          }

        }

        &.resolu-box {
          color: $green;
          &:hover {
            background-color: $green !important;
            color: white !important;
          }
        }
      }
      .attente {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      .commande-cours {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      .intervention-pgm {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      .intervention-cours {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      .resolu {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      .annule {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
    }
  }

  .messages {
    grid-row: 8 / span 1;
    grid-column: 2 / span 2;
    border: solid 0.3px $light-gray;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 38vh;

  }

  .picture-flexbox {
    grid-row: 8 / span 1;
    grid-column: 4 / span 8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $real-gray;
    max-height: 38vh;


    img {
      max-height: 38vh;
      max-width: 97%;
      border-radius: 4px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      // VOIR POUR ADAPTER LE CADRE AVEC CLOUDINARY
    }
  }

  #map {
    grid-row:  2 / span 5;
    grid-column: 6 / span 6;
    border: 0px;
    max-height: 35vh;
    width: 98%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-top: -11px;


    .gmnoprint {
      display: none;
    }
    a {
      display: none;
    }
  }
}

.card-edit-report {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
  padding-right: 15px;
  background-color: white;
  margin-right: 22px;
}

.list-of-messages {
  // max-height: 27vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  // A AJUSTER !!!!
  // A AJUSTER !!!!
  // A AJUSTER !!!!
  // A AJUSTER !!!!
  max-height: 37vh;
  // A AJUSTER !!!U
  // A AJUSTER !!!!
  // A AJUSTER !!!!
  // A AJUSTER !!!!
  .card-message-title {
    position: sticky !important;
    top: 0 !important;
    text-align : center;
    background-color: white;
    margin-bottom: 11px;
    border-bottom: solid 0.6px $light-gray;
    box-shadow: 0.3px 0.3px 0.3px rgba(0, 0, 0, 0.3);
    color: $real-gray;
  }
  .card-message-todo {
    border-bottom: solid 0.3px $light-gray;
    display: grid;
    margin: -3px 10px 12px 10px;
    padding: 1vh;
    min-height: 8vh;

    .message-content{
      font-weight: lighter;
      margin: 1.7vh 0;
    }
    .message-date{
      text-align: center;
      color: $real-gray;
      font-weight: lighter;
      font-size: 1.4vh;
    }
  }
}
.form-add-a-message{
  border-top: solid 0.6px $light-gray;
  text-align: center;
  height: 11vh;
  margin: 0;

  form {
    padding-left: 5px;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .form-group {
    margin: 0px;
  }

  .input-text-message {
    width: 32vh !important;
    height: 9vh;
    resize: none;
    margin: 0px;
    padding: 2px;
  }
  input {
    margin: 0px;
    padding-top: 0.6vh;
    font-size: 1.5vh;
    border-radius: 4px;
    // opacity: 0.8;
    width: 9vh;
    margin-top: 5.5vh;
    height: 3.5vh;
    background-color: white;
    border: solid 0.1px $green;
    color: $real-gray;

    select {
      outline:none;
    }
    &:hover {
      background-color: white;
      color: $green;

    }
  }
  textarea {
    box-shadow: none !important;
    border: none;
  }
}


.Urgente-color{
  background-color: $urgente;
  border-radius: 4px;
  * {
    color: white !important;
  }
}
.Haute-color{
  background-color: $haute;
  border-radius: 4px;
  *{
      color: white !important;
    }
}
.Normale-color{
  background-color: $normale;
  border-radius: 4px;
  *{
    color: white !important;
  }
}
.Faible-color{
  background-color: $faible;
  border-radius: 4px;
   *{
       color: white !important;
   }
}
.Urgente-text-color{
  color: $urgente;
}
.Haute-text-color{
  color: $haute;
}
.Normale-text-color{
  color: $normale;
}
.Faible-text-color{
  color: $faible;
}
a:hover {
  text-decoration: none;
}
