<div class="main-grid-todo">
  <div class="vertical-navbar-todo">
    <nav class="sidebar-test">
      <ul class="nav-test list-group">
        <li class="nav-item-test">
          <%= link_to image_tag("dashboard-2.png", alt: "dashboard", height: 30, width: 30, border: 0), city_path %>
        </li>
        <li class="nav-item-icon-description-test"> DASHBOARD </li>
        <li class="selected-test">
          <%= link_to image_tag("todo-2.png", alt: "To do list", width: 30, height: 30, border: 0), reports_path %>
        </li>
        <li class="nav-item-icon-description-test"> LISTE </li>
        <li class="nav-item-test">
          <%= link_to image_tag("info-2.png", alt: "To do list", width: 30, height: 30, border: 0), city_path %>
        </li>
        <li class="nav-item-icon-description-test"> MA VILLE </li>
        <li class="nav-item-test">
          <%= link_to image_tag("archive-2.png", alt: "To do list", width: 30, height: 30, border: 0), city_path %>
        </li>
        <li class="nav-item-icon-description-test"> ARCHIVES </li>
      </ul>
    </nav>
  </div>
  <div class="contianer">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="text-center">
          <h1>Aucun incident signalé !</h1>
          <p><i class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i></p>
        </div>
        </div>
      </div>
    </div>
  </div>
