 <div class="main-grid-todo">
  <div class="vertical-navbar-todo"></div>
  <div class="city-name-container-todo">Toulouse</div>
  <div class="filters-container-todo">Filters</div>

  <div class="cards-container-todo">
    <div class="ranking-choice">By Date or By Priority</div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
    <div class="card-index-todo">
      <div class="degradation"> Degradation </div>
      <div class="priority"> Dangerous </div>
      <div class="furniture"> Furnitures </div>
      <div class="creation-date">11/08/17</div>
    </div>
  </div>

  <div class="card-show-grid-todo">
    <div class="priority"> Dangerous </div>
    <div class="degradation"> Degradation </div>
    <div class="furniture"> Furnitures </div>
    <div class="location"> 160 avenue de Ségur - 75034 Paris </div>
    <div class="description">Descritpion</div>
    <div class="picture">Picture</div>
    <div class="grid-dates-status">
      <div class="title">Created the</div>
      <div class="creation-date">11/08/17</div>
      <div class="title">Status</div>
      <div class="status">Pending</div>
      <div class="title">Resolution date</div>
      <div class="resolution">None</div>
    </div>
    <div class="messages">Messages</div>
    <div class="map">Map</div>
  </div>
</div>
