<div class="main-grid-todo">
  <div class="vertical-navbar-todo"></div>
  <div class="city-name-container-todo"></div>
  <div class="filters-container-todo"></div>
  <div class="cards-container-todo"></div>
  <div class="card-show-grid-todo"></div>
</div>
